h1 Editar Incidencia asignada a Empleado

== render 'form'

= link_to 'Mostrar', [@incidencia_empleado.empleado, @incidencia_empleado]
'|
= link_to 'Volver', empleado_incidencia_empleados_path(@incidencia_empleado.empleado)

