h1 Editing incidencia_empleado

== render 'form'

= link_to 'Show', [@incidencia_empleado.empleado, @incidencia_empleado]
'|
= link_to 'Back', empleado_incidencia_empleados_path(@incidencia_empleado.empleado)

