h1 Editing contrato_empleado

== render 'form'

= link_to 'Show', [@contrato_empleado.empleado, @contrato_empleado]
'|
= link_to 'Back', empleado_contrato_empleados_path(@contrato_empleado.empleado)

