h1 Editar Contrato asignado a Empleado

== render 'form'

= link_to 'Mostrar', [@contrato_empleado.empleado, @contrato_empleado]
'|
= link_to 'Volver', empleado_contrato_empleados_path(@contrato_empleado.empleado)

