p#notice = notice

p
  strong Día y hora de salida:
  = @check_out.horaOutput.strftime("%a, %e de %B de %Y, %H:%M hs")

= link_to 'Editar', edit_check_out_path(@check_out)
'|
= link_to 'Volver', check_outs_path
